extends layout

block content
    h1 About Us
    p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque accusamus deserunt consequuntur dolorum asperiores laudantium nam voluptas maxime unde illum exercitationem at, consequatur amet? Magnam officiis laboriosam consequatur nostrum dolore!
    p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam explicabo rerum quasi beatae deserunt nostrum, mollitia eius aliquid dolorum aut tempora, iste pariatur, nemo architecto laboriosam accusamus magni quod id.