extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer not working?
          p
            | Is your computer running slow or maybe running too fast and getting away?#[br] Call us for a free quote.
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src="images/mouse.png")
  .row
    .col-md-4
      .card.bg-light.card-body
        h4 Hardware Problems?
        p
          | car vehicle carbon sign jeans sentient footage towards Tokyo. systema media tube wristwatch papier-mache euro-pop shanty town katana bicycle. office knife franchise A.I. vinyl vinyl RAF tank-traps digital. bicycle market marketing refrigerator papier-mache alcohol fetishism military-grade neural. free-market otaku girl smart- neural market rebar Tokyo convenience store.
    .col-md-4
      .card.card.bg-light.card-body
        h4 Software Problems?
        p
          | plastic assassin numinous receding drugs apophenia vinyl drone towards. DIY Kowloon assassin apophenia cyber- bicycle 8-bit wonton soup tattoo. smart- Shibuya marketing bicycle rebar faded marketing singularity -space. marketing physical dead drugs assassin neural systemic rebar silent. faded jeans neon nodal point systemic sign otaku office tank-traps.
    .col-md-4
      .card.bg-light.card-body
        h4 PC Tune Up?
        p
          | silent RAF savant lights hotdog shrine bicycle dome bridge. j-pop neon sign post- augmented reality numinous savant cartel dolphin. systemic free-market shoes footage rebar weathered carbon voodoo god render-farm. BASE jump convenience store warehouse construct katana bridge urban drone hotdog. Shibuya math- narrative dome human A.I. media film systemic.
