extends layout

block content
    h1= title

    //pug for loop-ish thing
    each service in services
        .card.bg-light.card-body
            h3 #{service.name}
            p #{service.description}
            p
                | Price range: #{service.price_range}